@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Light.woff2") format("woff2");
  src: url("../fonts/ProximaNova-Light.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova.woff2") format("woff2");
  src: url("../fonts/ProximaNova.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Philosopher";
  src: url("../fonts/Philosopher-Regular.woff2") format("woff2");
  src: url("../fonts/Philosopher-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Philosopher";
  src: url("../fonts/Philosopher-Bold.woff2") format("woff2");
  src: url("../fonts/Philosopher-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff2") format("woff2");
  src: url("../fonts/opensans.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
